*{
    margin: 0 ;
    padding : 0 ;


}

body{
    color :white;
    font-family : sans-serif;
    background-image: url(14f91b8252a06e16061abaf4547f84d0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height : 100vh;
    display : flex;    /* hizalama yapıyoruz*/
    justify-content : center ; /* yatay ortalama yapar */
    align-items : center;  /* dikey ortalama yapar */
    
}

.center .avatar img {
    border-radius : 50%;
    width : 140px;
    height : 140px;
    margin-top: 5%;
}

.center {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 550px ;
    text-align: center;
    border-radius : 50px;

}

.content{ /* başlık ve yazıların bulundugu alan */
    
    padding:  30px; /* ustten sağdan soldan alttan bosluk bırakma */
    
}

h1,p {
    color : wheat;

} 

.content h2 ,
 p    {
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 10px auto ; /* başlık ve paragraftaki satır arası boşluğu düzenliyor*/


}

.content h3 {
    margin-top: 20px;
}

div.social i{   /* ikonlarımız social içinde ki i etiketinde olduğu için i */
    padding : 0 10px;
    font-size : 50px;
    color : rgba(255,255,255,0.6)

}

.social i:hover{
    color:rgba(255, 255, 255, 1);
    transition : 0.4s;
}

@media screen and (max-width: 700px) { /* eğer ekran boyutu 700 px altına indiğinde */
    .center{
        width: 300px; /* boyutlar kuculsun*/
        height: 500px; /* boyutlar kuculsun*/

    }  
    h1 {
        font-size : 22px ;
        
    }
    h2 {
        font-size : 16px;
    }
    p{
        width : 90%;
        font-size : 12px ;

    }
    h3{
        font-size: 14px;
    }
    .social a i {
        font-size : 35px;
    }

}













